<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<h1>flask-chatterbot</h1>
<h3>A web implementation of <a href="https://github.com/gunthercox/ChatterBot">ChatterBot</a> using Flask.</h3>

<p>
<h4>Usage example:</h4>
<ul>
  <li><a href="/get/how are you?">/get/how are you?</a></li>
  <ul><li>Browser handles spaces (<a href="/get/how%20are%20you?">/get/how%20are%20you?</a>)</li>
      <li>Returns raw response (ex: I am good).</li></ul>
  </ul>
</p>

<p>
<h4>Contributing:</h4>
<ul>
Project is hosted on <a href="https://github.com/zechamkank/flask-chatterbot">GitHub</a>.
</ul>
</p>


</body>
</html>

